NODE_ENV=development
PORT=3001

DATABASE_URL="postgresql://iranautism:change-me-local-only@localhost:55434/iranautism_dev?schema=public"
REDIS_URL="redis://localhost:6384"

SMS_PROVIDER=""
SMS_API_KEY=""
SMS_SENDER_NUMBER=""
SMS_OTP_TEMPLATE_ID=""
