NODE_ENV=development
PORT=3001

DATABASE_URL="postgresql://iranautism:change-me-local-only@localhost:55434/iranautism_dev?schema=public"
REDIS_URL="redis://localhost:6384"
API_PUBLIC_BASE_URL="http://localhost:3001"

AUTH_TOKEN_SECRET=""

SMS_PROVIDER=""
SMS_API_KEY=""
SMS_SENDER_NUMBER=""
SMS_OTP_TEMPLATE_ID=""

PUMP_PARTNER_API_KEY=""

SADAD_MERCHANT_ID=""
SADAD_TERMINAL_ID=""
SADAD_TERMINAL_KEY=""
SADAD_USERNAME=""
SADAD_PASSWORD=""
SADAD_CALLBACK_URL=""
